*{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: #2A2B2A;
    padding: 25px;
}

header h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: bisque;
}

#cabecalho{
    display: flex;
    justify-content: left;
    margin-left: 200px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: bisque;
    line-height: 1.6;
    margin: 0px 15px;
}

h2{
    color: rgb(231, 68, 95);
    text-align: center;
    padding: 20px;
    font-size: 25pt;
    border-bottom: 2px solid #2A2B2A;
    margin: 0px 600px;
  }