*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

:root{
    --cor1: red;
    --cor2: green;
    --cor3: blue;
    --cor4: orange;
    --branco: white;
}

header,footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--cor2);
    color: var(--branco);
    padding: 10px 0px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: var(--branco);
}

main{
    width: 80%;
    padding: 10px;
    background-color: rgb(240, 233, 233);
}

@media screen and (max-width : 700px) {
    #menuPc{
    display: none;
   
}
#menuMobile{
    display: none;
}

header{
    flex-direction: column;
}

nav ul{
    flex-direction: column;
}
}

@media print{
    body{
        color: red;
    }

}

main img{
    width: 100%;
}