*{
    margin: 0%;
    padding: 0%;
}

:root{
    --cor1 : red;
    --cor2 : blue;
    --cor3 : darkgreen;
    --cor4 : yellow;
    --branco : white;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

hr{
    width: 100%;
    border: 2px solid black;
}

td,th{
    padding : 8px;
    border: solid 2px black;
}

table{
    width: 600px;
    border-collapse: collapse;
}

th{
    background-color: var(--cor2);
    color: var(--branco);
}

td{
    background-color: var(--branco);
}

th:empty{
    border: none;
    background-color: transparent;
}

td:hover{
    border: 2.7px solid var(--cor1);
    background-color: antiquewhite;
    cursor: pointer;
}

td:active{
    background-color: var(--cor2);
    color: var(--branco);
}

#conteudo_espaco{
    width: 10px;
    height: 2000px;
}

thead{
    position: sticky;
    top: 0px;
}