*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header{
    background-color: #ba2d2d;
    padding: 25px;
    display: flex;
    justify-content: start;
    align-items: center;  
}

nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

nav a{
    text-decoration: none;
    color: white;
 font-size: x-large;
    margin: 0px 15px;
}

#botao{
    width: 250px;
    height: 100px;
    background-color: #ba2d2d;
    border-radius: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
    border: 3px solid white;
}

#Bt{
    margin-left: 890px;
}

#logo{
    float: left;
    width: 100px;
}

main img{
   width: 100%;
}

#bg_text{
    position: absolute;
    top: 60%;
    background: linear-gradient(90deg, rgba(59,39,10,1) 0%,  rgba(121,61,9,1) 35%, rgba(225,128,0,1) 100%);
    opacity: 70%;
    height: 100px;
    width: 600px;
    padding: 60px;
}

.overtext{
    position: absolute;
    top: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#botao2{
    width: 250px;
    padding: 20px;
    background: black;
    border-radius: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
    border: 3px solid orange;

}

.overtext p{
        font-size: 20px;
}

main h1{
    text-align: center;
}

#menu_paga{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}


#botao_pag{
    border: 1px solid black;
    padding: 80px;
    width: 300px;
    font-size: x-large;
    font-weight: bolder;
    line-height: 3.5;
}

#botao_pag:hover {
    background-color: #45a049; 
}

#cabecalho2{
    padding: 40px;
    color: #B22222;
}

#ad{
    background-color: #3b2f2b;
     display: flex;
    justify-content: space-between;
     align-items: center;
     padding: 20px;
    color: white;
    width: 100%;
}

#ad .anuncio {
    max-width: 50%;
    margin-right: 20px;
    padding: 50px;
}

#ad h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: orange;
}

#ad p{
    font-size: 16pt;
    line-height: 1.6;
    margin-bottom: 15px;
}

#ad .anuncio {
    font-size: 16pt;
    line-height: 1.6;
    margin-bottom: 15px;
}

.imagem_ad {
    width: 100%;
    padding-right: 50px;
}

.imagem_ad img {
    border-radius: 20px;
}

#cabecalho3{
    padding: 40px;
    color: #B22222;
}

#cartoes_cap{
    display: flex;
    justify-content: center;
    gap: 130px;
}

.cartoes_pag{
    width: 400px;
    height: 460px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.cartoes_pag img{
    bottom: 0px;
    width: 100%;
    position: absolute;
}

.cartoespag2{
    width: 400px;
    height: 460px;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
}

.cartoespag2 img{
    width: 100%;
    top: -30%;
    position: absolute;
    
}

#tabela_hr{
    width: 1200px;
    margin: 0 auto;
}

table{
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-bottom: 90px;
    border-radius: 15px;
    box-shadow: 10px 10px 25px;
}

td, th{
    padding: 30px;
}

thead th{
    border: none;
    font-size: 25pt;
    color: #B22222;
    background-color: transparent;
}

th{
    background-color: #B22222;
    color: white;
}

th:empty{
    border: none;
    background-color: transparent;
}

.horario {
    border: 2px solid black; 
}

footer{
    background: #B22222;
    color: white;
    font-size: 15pt;
    padding: 10px;
    text-align: center;
}
