*{
    margin: 2%;
}

#cabecalho{
    text-shadow: 20pt 20pt;
    text-align: center;
    font-family: cursive;
    color: black;
    background-color: rgba(255, 255, 255, 0.788);
    padding: 3px 3px;
    border: 6px solid rgb(0, 0, 0);
    font-size: 85%;
}
body{
    background-color: rgb(177, 65, 125);
    background-image: url(../img/candy-color-sunburst-background-abstract-600nw-2351627127.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}